name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  # workflow_dispatch: allows manually kicking off a build
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

jobs:
  CI-Core:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest] # windows-latest has script analyzer failures
        # os: [windows-latest, ubuntu-latest, macos-latest]
      max-parallel: 3
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Run Script Analyzer
      working-directory: K8sUtils
      run: |
        $ErrorView='DetailedView'
        if ( -not (Get-Command -Name Invoke-ScriptAnalyzer ) ) { Install-Module -Name PSScriptAnalyzer -Scope CurrentUser -Force -Confirm:$false -SkipPublisherCheck }
        $results = Invoke-ScriptAnalyzer -Path . -Recurse
        $results
        if ($results | Where-Object Severity -eq Error ) { Write-Error "Analyzer detected errors." }

  publish:
    if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs: [CI-Core]

    steps:
    - uses: actions/checkout@v4

    - name: Set prelease version
      if: github.event_name == 'pull_request'
      run: |
        Update-ModuleManifest K8sUtils/K8sUtils.psd1 -Prerelease 'prerelease'

    - name: Publish Module
      working-directory: K8sUtils
      env:
        PSGalleryKey: ${{ secrets.PSGALLERYKEY }}
      run: |
        gci
        Publish-Module -Path . -NuGetApiKey "$env:PSGalleryKey"
